<div th:fragment="menu" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div sec:authorize="isAuthenticated()" style="display: flex; gap: 10px;">

        <form th:action="@{/home}" th:method="get">
            <input type="submit" value="Home"></input>
        </form>

        <form th:action="@{/users}" method="get" >
            <button type="submit">Profile</button>
        </form>

        <form th:action="@{/conversations}" method="get" >
            <button type="submit">Conversations</button>
        </form>

        <form th:action="@{/auction/create}" method="get" >
            <button type="submit">Add auction</button>
        </form>

        <form th:action="@{/auction}" method="get" >
            <button type="submit">Browse auctions</button>
        </form>

        <form th:action="@{/auction/my-auctions}" method="get" >
            <button type="submit">My Auctions</button>
        </form>

        <form th:action="@{/users/watchlist}" method="get" >
            <button type="submit">My Watchlist</button>
        </form>

        <form th:action="@{/bids/history}" method="get">
            <button type="submit">Bid history</button>
        </form>

        <form th:action="@{/promotions}" method="get">
            <button type="submit">Promotion history</button>
        </form>

        <form th:action="@{/auth/logout}" method="post">
            <button type="submit">Logout</button>
        </form>

    </div>

    <div sec:authorize="isAnonymous()" style="display: flex; gap: 10px;">
        <form th:action="@{/home}" method="get">
            <input type="submit" value="Home"></input>
        </form>

        <form th:action="@{/auth/login}" method="get">
            <button type="submit">Login</button>
        </form>

        <form th:action="@{/auth/register}" method="get">
            <button type="submit">Register</button>
        </form>
    </div>

</div>
