<div th:fragment="menu" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        .navbar-gradient {
            background: linear-gradient(to right, #d35400, #f39c12);
        }
        .nav-link:hover {
            background-color: #e67e22;
            color: #fff;
        }
    </style>

    <nav class="navbar navbar-expand-lg navbar-dark navbar-gradient" sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/admin}">Admin Panel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminNav" aria-controls="adminNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="adminNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/users}">User Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/stats}">Statistics</a>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/auth/logout}" method="post">
                            <button type="submit" class="btn btn-danger nav-link">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark navbar-gradient" sec:authorize="isAuthenticated() && !hasRole('ROLE_ADMIN')">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/home}">Auction Platform</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#userNav" aria-controls="userNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="userNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/conversations}">Conversations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/auctions/create}">Add Auction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/auctions}">Browse Auctions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/auctions/my-auctions}">My Auctions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users/watchlist}">My Watchlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/bids/history}">Bid History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/promotions}">Promotion History</a>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/auth/logout}" method="post">
                            <button type="submit" class="btn btn-danger nav-link">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark navbar-gradient" sec:authorize="isAnonymous()">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/home}">Auction Platform</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#guestNav" aria-controls="guestNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="guestNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/auctions}">Browse Auctions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/auth/login}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/auth/register}">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>
