<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
    </style>
</head>

<body>

<div th:replace="~{fragments/menu :: menu}" class="w-100"></div>

<div class="alert alert-danger text-center w-100">
    <h1>Error Occurred!</h1>
</div>

<div class="border rounded p-4 bg-light w-75 mx-auto">
    <h2>Error Details</h2>
    <p><strong>Error Code:</strong> <span th:text="${errorCode}">500</span></p>
    <p><strong>Message:</strong> <span th:text="${errorMessage}">Unexpected Error</span></p>
    <p><strong>Details:</strong> <span th:text="${errorDetails}">Error Description</span></p>
    <div class="text-center mt-4">
        <a th:href="@{/home}" class="btn btn-primary">Return to Home</a>
    </div>
</div>


</body>
</html>
