<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div th:replace="~{fragments/menu :: menu}"></div>

<div class="container mt-5">
    <!-- Authenticated User Greeting -->
    <h1 class="text-center" sec:authorize="isAuthenticated()" th:text="'Welcome home, ' + ${fullName} + '!'"></h1>
    <!-- Anonymous User Greeting -->
    <h1 class="text-center text-info" sec:authorize="isAnonymous()">Welcome, Guest!</h1>
</div>

<div th:if="${isBanned}" style="
    background-color: #ff0000;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 15px; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
    margin: 20px 0;
">
    <span>YOU ARE BANNED!</span>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
