<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Promotions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div th:replace="~{fragments/menu :: menu}"></div>

<div class="container mt-5">
    <h1>My Promotions</h1>

    <div th:if="${promotions.isEmpty()}">
        <p>You have no promotions.</p>
    </div>

    <div th:if="${!promotions.isEmpty()}">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Amount</th>
                <th>Promotion Date</th>
                <th>Payment Method</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="promotion : ${promotions}">
                <td th:text="${promotion.amount}"></td>
                <td><span class="end-time" th:text="${#temporals.format(promotion.promotionDate, 'dd MMM yyyy HH:mm:ss')}"></span></td>
                <td th:text="${promotion.paymentMethod}"></td>
                <td>
                    <a th:href="@{/promotions/generateInvoice/{promotionId}(promotionId=${promotion.id})}"
                       class="btn btn-success">
                        Download Invoice
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
