<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div th:replace="~{fragments/menu :: menu}"></div>

<h1 th:text="'Profile of ' + ${user.firstName} + ' ' + ${user.lastName}"></h1>

<div>
    <p><strong>Username:</strong> <span th:text="${user.username}"></span></p>
    <p><strong>First Name:</strong> <span th:text="${user.firstName}"></span></p>
    <p><strong>Last Name:</strong> <span th:text="${user.lastName}"></span></p>
    <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
    <p><strong>Phone:</strong> <span th:text="${user.phone}"></span></p>
</div>

<!-- Button for editing profile -->
<div>
    <a th:href="@{/users/edit}" class="btn btn-primary">Edit Profile</a>
</div>

</body>
</html>
